.header {
	width: 100%;
	background-color: green;
	height: 20px;
}

.left{
	margin: 1.5% 0% 0% 0%;
	width: 23.5%;
	background-color: blue;
	height: 500px;
	float:left;
}

.right {
	margin: 1.5% 0% 0% 0%;
	width: 23.5%;
	height: 500px;
	background-color: red;
	float:left;
}

.center {
	margin: 1.5%;
	width: 50%;
	background-color: black;
	height: 500px;
	float:left;
}